<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fkoeberle.autocommit.message.factory" name="Commit Message Factory" schema="schema/de.fkoeberle.autocommit.message.factory.exsd"/>
   <extension-point id="de.fkoeberle.autocommit.message.profile" name="Commit Message Generation Profile" schema="schema/de.fkoeberle.autocommit.message.profile.exsd"/>
   <extension
         name="test"
         point="de.fkoeberle.autocommit.message.factory">
      <factory
            class="de.fkoeberle.autocommit.message.WorkedOnPathCMF"
            id="de.fkoeberle.autocommit.message.WorkedOnPathCMF">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.fkoeberle.autocommit.message.IFileContent"
            class="de.fkoeberle.autocommit.message.TextFileContentFactory">
         <adapter
               type="de.fkoeberle.autocommit.message.ITextFileContent">
         </adapter>
      </factory>
   </extension>

</plugin>
