<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fkoeberle.autocommit.message.factory">
      <factory
            class="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF"
            id="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedClassCMF"
            id="de.fkoeberle.autocommit.message.java.AddedClassCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF"
            id="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF"
            id="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF">
      </factory>
   </extension>
   <extension
         point="de.fkoeberle.autocommit.message.profile">
      <profile
            id="de.fkoeberle.autocommit.message.profile.java.default"
            name="Default Java Profile">
         <factory
               id="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.FormattedJavaFileCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.AddedClassCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF"></factory>
         <factory
               id="de.fkoeberle.autocommit.message.WorkedOnPathCMF">
         </factory>
      </profile>
   </extension>
   <extension
         point="de.fkoeberle.autocommit.message.factory">
      <factory
            class="de.fkoeberle.autocommit.message.java.FormattedJavaFileCMF"
            id="de.fkoeberle.autocommit.message.java.FormattedJavaFileCMF">
      </factory>
   </extension>

</plugin>
