<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fkoeberle.autocommit.message.factory">
      <factory
            class="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF"
            description="Generates for commits a message in which only whitespace of java files got modified. It will tell in the commit message which java package got formatted."
            id="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF">
         <arguments>
            <argument
                  description="The java package which contains the changes, or when multiple java files got modified the &quot;parent&quot; package that contains the other packages. e.g. if there were changes in the package org.example.a and org.example.b then this argument will be org.example.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Formatted source in sub packages of {0}"
                  fieldName="formattedSourceInSubPackagesOfMessage">
            </message>
            <message
                  defaultValue="Formatted source in package {0}"
                  fieldName="formattedSourceInPackageMessage">
            </message>
            <message
                  defaultValue="Formatted source in the default package"
                  fieldName="formattedSourceInTheDefaultPackageMessage">
            </message>
            <message
                  defaultValue="Formatted source"
                  fieldName="formattedSourceMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedClassCMF"
            description="Generates a commit message for the case that only a single file got added which contains a single type. The commit message depends on the kind of type."
            id="de.fkoeberle.autocommit.message.java.AddedClassCMF">
         <arguments>
            <argument
                  description="The full name of the added type.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Added a class called {0}"
                  fieldName="addedClassMessage">
            </message>
            <message
                  defaultValue="Added an interface called {0}"
                  fieldName="addedInterfaceMessage">
            </message>
            <message
                  defaultValue="Added an enum called {0}"
                  fieldName="addedEnumMessage">
            </message>
            <message
                  defaultValue="Added an annotation type called {0}"
                  fieldName="addedAnotationMessage">
            </message>
            <message
                  defaultValue="Added a stub version of the class {0}"
                  fieldName="addedStubClassMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF"
            description="Generates a commit message for all changes that affect only java files."
            id="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF">
         <arguments>
            <argument
                  description="The java package which contains the changes, or when multiple java files got modified the &quot;parent&quot; package that contains the other packages. e.g. if there were changes in the package org.example.a and org.example.b then this argument will be org.example. It doesn&apos;t have an usable value if the changes are in the default pacakge or in packages which have no parent package in common.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Worked on the default package"
                  fieldName="workedOnDefaultPackage">
            </message>
            <message
                  defaultValue="Worked on package {0}"
                  fieldName="workedOnPackage">
            </message>
            <message
                  defaultValue="Worked on sub-packages of {0}"
                  fieldName="workedOnSubPackages">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF"
            description="Generates a commit message for all changes where just a single java type got modified."
            id="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF">
         <arguments>
            <argument
                  description="The name of the changed class without any prefix">
            </argument>
            <argument
                  description="The name of the changed class prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Worked on class {1}"
                  fieldName="workedOnClassMessage">
            </message>
            <message
                  defaultValue="Worked on interface {1}"
                  fieldName="workedOnInterfaceMessage">
            </message>
            <message
                  defaultValue="Worked on enum {1}"
                  fieldName="workedOnEnumMessage">
            </message>
            <message
                  defaultValue="Worked on annotation {1}"
                  fieldName="workedOnAnnotationMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnMethodCMF"
            description="Generates a commit message when only a single method or constructor got modified."
            id="de.fkoeberle.autocommit.message.java.WorkedOnMethodCMF">
         <arguments>
            <argument
                  description="The name of the changed class prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
            <argument
                  description="The name of the changed method or constructor">
            </argument>
            <argument
                  description="An comma seperated list of the parameter types of the changed method or constructor like &quot;String, int&quot;">
            </argument>
            <argument
                  description="The name of the changed class without any prefix">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Worked on method {0}\#{1}({2})"
                  fieldName="workedOnMethodMessage">
            </message>
            <message
                  defaultValue="Worked on constructor {0}\#{1}({2})"
                  fieldName="workedOnConstructorMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.FormattedJavaTypeCMF"
            description="Describes either whitespace changes within a single java type or within java file with a single type."
            id="de.fkoeberle.autocommit.message.java.FormattedJavaTypeCMF">
         <arguments>
            <argument
                  description="The type with the whitespace changes. It is either an class, interface, enum or an annotation)">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Formatted class {0}"
                  fieldName="formattedClassMessage">
            </message>
            <message
                  defaultValue="Formatted interface {0}"
                  fieldName="formattedInterfaceMessage">
            </message>
            <message
                  defaultValue="Formatted enum {0}"
                  fieldName="formattedEnumMessage">
            </message>
            <message
                  defaultValue="Formatted annotation {0}"
                  fieldName="formattedAnnotationMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedMethodCMF"
            description="Generates a commit message when only a single method or constructor got added."
            id="de.fkoeberle.autocommit.message.java.AddedMethodCMF">
          <arguments>
            <argument
                  description="The name of changed class prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
            <argument
                  description="The name of the added method or constructor">
            </argument>
            <argument
                  description="An comma seperated list of the parameter types of the added method or constructor like &quot;String, int&quot;">
            </argument>
            <argument
                  description="The name of the changed type without any prefix">
            </argument>
         </arguments>
          <messages>
             <message
                   defaultValue="Added method {0}\#{1}({2})"
                   fieldName="addedMethodMessage">
             </message>
             <message
                   defaultValue="Added constructor {0}\#{1}({2})"
                   fieldName="addedConstructorMessage">
             </message>
          </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.DocumentedTypeCMF"
            description="Generates a commit message when all existing changes are javadoc changes of a single type."
            id="de.fkoeberle.autocommit.message.java.DocumentedTypeCMF">
         <arguments>
            <argument
                  description="The name of documented type prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Documented class {0}"
                  fieldName="documentedClassMessage">
            </message>
            <message
                  defaultValue="Documented interface {0}"
                  fieldName="documentedInterfaceMessage">
            </message>
            <message
                  defaultValue="Documented enum {0}"
                  fieldName="documentedEnumMessage">
            </message>
            <message
                  defaultValue="Documented annotation {0}"
                  fieldName="documentedAnnotationMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.DocumentedMethodCMF"
            description="Generates a commit message when a javadoc tag of a method or constructor got modified or added."
            id="de.fkoeberle.autocommit.message.java.DocumentedMethodCMF">
          <arguments>
            <argument
                  description="The name of documented type prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
            <argument
                  description="The name of the documented method or constructor">
            </argument>
            <argument
                  description="An comma seperated list of the parameter types of the documented method or constructor like &quot;String, int&quot;">
            </argument>
            <argument
                  description="The name of the documented type without any prefix">
            </argument>
         </arguments>
          <messages>
             <message
                   defaultValue="Documented method {0}\#{1}({2})"
                   fieldName="documentedMethodMessage">
             </message>
             <message
                   defaultValue="Documented constructor {0}\#{1}({2})"
                   fieldName="documentedConstructorMessage">
             </message>
             </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedGettersAndSettersCMF"
            description="Generates a commit message when getters or setters got added to a class."
            id="de.fkoeberle.autocommit.message.java.AddedGettersAndSettersCMF">
         <arguments>
            <argument
                  description="The name of changed type prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Added getters to {0}"
                  fieldName="addedGettersMessage">
            </message>
            <message
                  defaultValue="Added setters to {0}"
                  fieldName="Added setters to {0}">
            </message>
            <message
                  defaultValue="Added getters and setters to {0}"
                  fieldName="addedGettersAndSettersMessage">
            </message>
            <message
                  defaultValue="Added a getter and setters to {0}"
                  fieldName="addedAGetterAndSettersMessage">
            </message>
            <message
                  defaultValue="Added getters and a setter {0}"
                  fieldName="addedGettersAndASetterMessage">
            </message>
            <message
                  defaultValue="Added a getter and setter to {0}"
                  fieldName="addedAGetterAndSetterMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.OrganizedImportsOfTypeCMF"
            description="Generates a commit message when the import statements of a java file got modified which contains only a single top level type."
            id="de.fkoeberle.autocommit.message.java.OrganizedImportsOfTypeCMF">
         <arguments>
            <argument
                  description="The name of top level type prefixed with the outer types. Example: &quot;OuterClass.MiddleClass.InnerClass&quot;.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Organized imports of class {0}"
                  fieldName="organizedImportsOfClassMessage">
            </message>
            <message
                  defaultValue="Organized imports of interface {0}"
                  fieldName="organizedImportsOfInterfaceMessage">
            </message>
            <message
                  defaultValue="Organized imports of enum {0}"
                  fieldName="organizedImportsOfEnumMessage">
            </message>
            <message
                  defaultValue="Organized imports of annotation {0}"
                  fieldName="organizedImportsOfAnnotationMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.DocumentedPackageCMF"
            description="Generates a commit message when only javadoc tags got added or modified. It also generates messages when javadoc tags got removed as long as at least one javadoc tag got modified or added."
            id="de.fkoeberle.autocommit.message.java.DocumentedPackageCMF">
         <arguments>
            <argument
                  description="The java package which contains the javadoc changes, or when multiple java files got modified the &quot;parent&quot; package that contains the other packages. e.g. if there were changes in the package org.example.a and org.example.b then this argument will be org.example. It doesn&apos;t have an usable value if the changes are in the default pacakge or in packages which have no parent package in common.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Documented source in sub packages of {0}"
                  fieldName="documentedSourceInSubPackagesOfMessage">
            </message>
            <message
                  defaultValue="Documented source in package {0}"
                  fieldName="documentedSourceInPackageMessage">
            </message>
            <message
                  defaultValue="Documented source in the default package"
                  fieldName="documentedSourceInTheDefaultPackageMessage">
            </message>
            <message
                  defaultValue="Documented source"
                  fieldName="documentedSourceMessage">
            </message>
         </messages>
      </factory>
   </extension>
   
   <extension
         point="de.fkoeberle.autocommit.message.profile">
      <profile
            id="de.fkoeberle.autocommit.message.java"
            name="Default Java Profile"
            path="java.commitmessages">
      </profile>
   </extension>

</plugin>
