<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fkoeberle.autocommit.message.factory">
      <factory
            class="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF"
            id="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedClassCMF"
            id="de.fkoeberle.autocommit.message.java.AddedClassCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF"
            id="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF"
            id="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.WorkedOnMethodCMF"
            id="de.fkoeberle.autocommit.message.java.WorkedOnMethodCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.FormattedJavaTypeCMF"
            id="de.fkoeberle.autocommit.message.java.FormattedJavaTypeCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedMethodCMF"
            id="de.fkoeberle.autocommit.message.java.AddedMethodCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedConstructorCMF"
            id="de.fkoeberle.autocommit.message.java.AddedConstructorCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.DocumentedTypeCMF"
            id="de.fkoeberle.autocommit.message.java.DocumentedTypeCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.DocumentedMethodCMF"
            id="de.fkoeberle.autocommit.message.java.DocumentedMethodCMF">
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.java.AddedGettersAndSettersCMF"
            id="de.fkoeberle.autocommit.message.java.AddedGettersAndSettersCMF">
      </factory>
   </extension>
   <extension
         point="de.fkoeberle.autocommit.message.profile">
      <profile
            id="de.fkoeberle.autocommit.message.profile.java.default"
            name="Default Java Profile">
         <factory
               id="de.fkoeberle.autocommit.message.refactor.RefactoringCommentCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.FormattedJavaTypeCMF"></factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.FormattedJavaFilesOfPackageCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.DocumentedMethodCMF"></factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.DocumentedTypeCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.AddedMethodCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.AddedConstructorCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.AddedGettersAndSettersCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.WorkedOnMethodCMF"></factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.WorkedOnTypeCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.AddedClassCMF">
         </factory>
         <factory
               id="de.fkoeberle.autocommit.message.java.WorkedOnPackageCMF"></factory>
         <factory
               id="de.fkoeberle.autocommit.message.WorkedOnPathCMF">
         </factory>
      </profile>
   </extension>

</plugin>
