<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fkoeberle.autocommit.vcs" name="Version Control System For Automatic Commits" schema="schema/de.fkoeberle.autocommit.vcs.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.ui.articles.action.contribution.popup.object"
            objectClass="org.eclipse.core.resources.IProject">
               <menu
                     icon="icon32x32.png"
                     id="de.fkoeberle.autocommit"
                     label="Automatic Commits"
                     path="team.main/group1">
            <separator
                  name="group1">
            </separator>
         </menu>
      <action
            class="de.fkoeberle.autocommit.popup.actions.EnableAutomaticCommitsAction"
            id="de.fkoeberle.autocommit.enable"
            label="Enable"
            menubarPath="team.main/de.fkoeberle.autocommit/group1"> 
      </action> 
      <action
            class="de.fkoeberle.autocommit.popup.actions.DisableAutomaticCommitsAction"
            id="de.fkoeberle.autocommit.disable"
            label="Disable"
            menubarPath="team.main/de.fkoeberle.autocommit/group1"> 
      </action> 
   </objectContribution> 
   </extension>
   
   <extension id="nature" name="Automatic Commits" point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.fkoeberle.autocommit.Nature">
         </run>
      </runtime>
	</extension>
	
	<extension point="org.eclipse.ui.decorators">
		<decorator
			id="de.fkoeberle.autocommit"
			label="Enabled State of 'Autocommit' Feature"
			state="true"
			class= "de.fkoeberle.autocommit.AutocommitIconDecorator"
			adaptable="true">
			<description>
			Marks projects which have the "autocommit"-feature enabled with "a" icon at the bottom right.
			</description>
		</decorator>
	</extension>
</plugin>
