<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="de.fkoeberle.autocommit.vcs" name="Version Control System For Automatic Commits" schema="schema/de.fkoeberle.autocommit.vcs.exsd"/>

	
	<extension id="nature" name="Automatic Commits" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="de.fkoeberle.autocommit.Nature">
			</run>
		</runtime>
	</extension>
	
	<extension point="org.eclipse.ui.decorators">
		<decorator
			id="de.fkoeberle.autocommit"
			label="Enabled State of 'Autocommit' Feature"
			state="true"
			class= "de.fkoeberle.autocommit.AutocommitIconDecorator"
			adaptable="true">
			<description>
			Marks projects which have the &quot;autocommit&quot;-feature enabled with &quot;a&quot; icon at the top left.
			</description>
		</decorator>
	</extension>
 <extension
		point="org.eclipse.core.expressions.propertyTesters">
	<propertyTester
			class="de.fkoeberle.autocommit.AutoCommitAvailablePropertyTester"
			id="de.fkoeberle.autocommit.AutoCommitAblePropertyTester"
			namespace="de.fkoeberle.autocommit"
			properties="available"
			type="org.eclipse.core.resources.IProject">
	</propertyTester>
 </extension>
 <extension
		point="org.eclipse.ui.commands">
	<category
			description="Commands that have to do with the mechanism of creating commits automatically."
			id="de.fkoeberle.autocommit"
			name="Auto Commit">
	</category>
	<command
			categoryId="de.fkoeberle.autocommit"
			defaultHandler="de.fkoeberle.autocommit.EnableAutomaticCommitsHandler"
			id="de.fkoeberle.autocommit.enable"
			name="Enable">
	</command>
	<command
			categoryId="de.fkoeberle.autocommit"
			defaultHandler="de.fkoeberle.autocommit.DisableAutomaticCommitsHandler"
			id="de.fkoeberle.autocommit.disable"
			name="Disable">
	</command>
 </extension>
 <extension
		point="org.eclipse.ui.menus">
	<menuContribution
			locationURI="popup:team.main?after=group1">
		<menu
			label="Automatic Commits" id="de.fkoeberle.autocommit">
			<separator name="group1"></separator>
			<separator name="group2"></separator>
		</menu>
	</menuContribution>
	<menuContribution
			locationURI="popup:de.fkoeberle.autocommit?after=group1">
		<command
			commandId="de.fkoeberle.autocommit.enable">
			<visibleWhen
					checkEnabled="false">
				<iterate>
					<adapt type="org.eclipse.core.resources.IProject">
						<test property="de.fkoeberle.autocommit.available" 
							value="true"/>
						<not>
							<test property="org.eclipse.core.resources.projectNature" 
								value="de.fkoeberle.autocommit.nature"/>
						</not>
					</adapt>
				</iterate>
			</visibleWhen>
		</command>
		<command
			commandId="de.fkoeberle.autocommit.disable">
			<visibleWhen
					checkEnabled="false">
				<iterate>
					<adapt type="org.eclipse.core.resources.IProject">
						<test property="de.fkoeberle.autocommit.available" 
							value="true"/>
						<test property="org.eclipse.core.resources.projectNature" 
							value="de.fkoeberle.autocommit.nature"/>
					</adapt>
				</iterate>
			</visibleWhen>
		</command>
	</menuContribution>
 </extension>
</plugin>
