<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fkoeberle.autocommit.message.ui.CMFMultiPageEditorPart"
            extensions="commitmessages"
            id="de.fkoeberle.autocommit.message.ui.CommitMessagesEditorPart"
            name="Commit Messages Editor">
      </editor>
   </extension>
</plugin>
