<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fkoeberle.autocommit.message.factory">
      <factory
            class="de.fkoeberle.autocommit.message.tex.WorkedOnSectionCMF"
            description="Generates a message for changes in *.tex files by telling the user which chapter, section, subsection or subsubsection has changed."
            id="de.fkoeberle.autocommit.message.tex.WorkedOnSectionCMF">
         <arguments>
            <argument
                  description="The title of the changed chapter, section, subsection or subsubsection.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Worked on chapter &quot;{0}&quot;"
                  fieldName="workedOnChapterMessage">
            </message>
            <message
                  defaultValue="Worked on section &quot;{0}&quot;"
                  fieldName="workedOnSectionMessage">
            </message>
            <message
                  defaultValue="Worked on subsection &quot;{0}&quot;"
                  fieldName="workedOnSubsectionMessage">
            </message>
            <message
                  defaultValue="Worked on subsubsection &quot;{0}&quot;"
                  fieldName="workedOnSubsubsectionMessage">
            </message>
         </messages>
      </factory>
      <factory
            class="de.fkoeberle.autocommit.message.tex.AddedSectionCMF"
            description="Generates a commit message for all changes where a single tex file got extended by a chapter, section, subsection or subsubsection. If there is any other change in the file except whitespace changes around the inserted section/chapter then no message will be generated."
            id="de.fkoeberle.autocommit.message.tex.AddedSectionCMF">
         <arguments>
            <argument
                  description="The title of the added chapter, section, subsection or subsubsection.">
            </argument>
         </arguments>
         <messages>
            <message
                  defaultValue="Added chapter &quot;{0}&quot;"
                  fieldName="addedChapterMessage">
            </message>
            <message
                  defaultValue="Added section &quot;{0}&quot;"
                  fieldName="addedSectionMessage">
            </message>
            <message
                  defaultValue="Added subsection &quot;{0}&quot;"
                  fieldName="addedSubsectionMessage">
            </message>
            <message
                  defaultValue="Added subsubsection &quot;{0}&quot;"
                  fieldName="addedSubsubsectionMessage">
            </message>
         </messages>
      </factory>
   </extension>
   <extension
         point="de.fkoeberle.autocommit.message.profile">
      <profile
            id="de.fkoeberle.autocommit.message.tex"
            name="Commit messages for LaTeX code"
            path="tex.commitmessages">
      </profile>
   </extension>

</plugin>
